.header {
  position: relative;
}

.backdrop {
  @media screen and (max-width: 1199px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;
    overflow-y: scroll;
    z-index: 2;
  }
}

.search-btn {
  outline: none;
  border: none;
  background-color: $body-color;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 28px;
    right: 25px;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 28px;
    left: 24px;
  }
}

.logo {
  position: absolute;
  top: 30px;
  right: 45%;

  font-family: $secondary-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: 1.25;
  text-transform: uppercase;

  color: $black-color;
}

.btn {
  cursor: pointer;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 501px;
    right: 17px;
    padding: 15px;
    background-color: $btn-color;
    border-radius: 50%;
    border: none;
    outline: none;
  }

  @media screen and (min-width: $tablet) {
    width: 178px;
    height: 70px;
    background-color: $btn-color;
    padding: 29px 15px;
    font-family: $basic-font;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    border: none;
  }
  @media screen and (min-width: $tablet) {
    margin-left: 19px;
  }
}

.text_btn {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.plus {
   @media screen and (min-width: $tablet) {
    display: none;
  }
}

.modal_menu {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 70px;
  height: 1024px;
  background-color: $menu-color;

  @media screen and (max-width: 767px) {
    width: 305px;
  }

  @media screen and (min-width: $tablet) {
    width: 338px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.info__content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__nav-desktop {
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: flex-start;
    align-items: baseline;
    border: 1px solid $border-color;
    padding: 27px 0 26px 0px;

    .header__link + .header__link {
      margin-left: 40px;
    }
  }

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.header__nav {
  @media screen and (max-width: 1199px) {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-items: baseline;
    flex-direction: column;
    //border-top: 1px solid $border-color;
    .header__link + .header__link {
      border-top: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }
  }
}

.menu__links-office, .menu__links {
  @media screen and (max-width: 1199px) {
      width: 100%;
      display: flex;
      align-items: flex-start;
      align-items: baseline;
      flex-direction: column;
    }
}

.login__btn_header {
  @media screen and (max-width: 1199px) {
    position: absolute;
    top: 102px;
    left: 65px;
    font-family: $basic-font;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 1.17;
    color: $black-color;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: $body-color;
    cursor: pointer;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 25px;
    right: 230px;
    margin-left: 229px;
    font-family: $basic-font;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 1.17;
    color: $black-color;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: $body-color;
    cursor: pointer;
  }
}

.login__btn {
  @media screen and (max-width: 1199px) {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 27px 0 26px 34px;
    font-family: $basic-font;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 1.17;
    color: $black-color;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    border: none;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    background-color: $menu-color;
    cursor: pointer;
  }
}

.login_menu {
  margin-left: 12px;
}

.header__link {
  font-family: $basic-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  color: $black-color;
  text-decoration: none;

  @media screen and (max-width: 1199px) {
    width: 100%;
    padding: 27px 0 26px 34px;
  }
}

.user__profile-header {
  outline: none;
  border: none;
  background-color: $body-color;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: $tablet) {
    position: absolute;
    top: 25px;
    right: 28%;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

 .user__profile-menu {
  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.menu-button {
  position: absolute;
  border: none;
  outline: none;
  background-color: $body-color;

  @media screen and (max-width: 767px) {
    top: 30px;
    left: 30px;
  }

  @media screen and (min-width: $tablet) {
    top: 100px;
    left: 25px;
  }

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.close-button {
  position: absolute;
  top: 30px;
  right: 24px;
  border: none;
  outline: none;
  background-color: $white-color;
  @media screen and (min-width: $desktop) {
    display: none;
    cursor: pointer;
  }
}

.filter {
  display: flex;
  align-items: center;
  font-family: $secondary-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 1.25;
  color: $black-color;
  outline: none;
  border: none;
  background-color: $body-color;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    position: absolute;
    top: 93px;
    right: 42px;
  }
}

.replay {
  margin-right: 14px;
}

.container_dropdown {
  width: 100%;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
} 

.dropdown {
  padding: 20px 0 20px 34px;
}

.dropbtn {
  width: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black-color;
  border: none;
  outline: none;
  background-color: $menu-color;
}

.my_cabinet-menu {
  margin-left: 24px;
}

.dropdown-content {
  @media screen and (max-width: 1199px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding: 20px 0 0 54px;
    min-width: 150px;
  }

  .link_office_menu + .link_office_menu {
    padding-top: 20px;
  }
}

.link_office_menu {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black-color;
}

.link_office {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black-color;
}

.vector_office {
  margin-left: 10px;
}

.logout {
  position: absolute;
  top: 90px;
  right: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.dropdown_office {
  @media screen and (min-width: $tablet) {
    position: relative;
    top: 0;
    right: 20px;
    display: inline-block;
  }

  @media screen and (min-width: $desktop) {
    right: 93px;
  }
}

.user__profile-header-office {
    @media screen and (max-width: 767px) {
      display: none;
   }
}

.dropdown-content_office {
   @media screen and (max-width: 767px) {
     display: none;
   }

  @media screen and (min-width: $tablet) {
    padding: 20px 0 20px 20px;
    display: none;
    position: absolute;
    right: -20px;
    min-width: 150px;
    background: $menu-color;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
    z-index: 1;

    .link_office + .link_office {
      padding-top: 20px;
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 20px;
    min-width: 226px;
    right: -93px;
  }
}

.dropdown-content_office .link_office {
  @media screen and (min-width: $tablet) {
    display: block;
    text-decoration: none;
  }
}

.link_office:hover, .link_office:focus {
  color: $btn-color;
}

.logout_office {
  @media screen and (max-width: 1199px) {
    display: none;
  }

  @media screen and (min-width: $desktop) {
    padding: 24px;
    position: absolute;
    top: 0;
    right: 199px;
    outline: none;
    border: none;
    border-left: 1px solid $border-color;
    background-color: $body-color;
    cursor: pointer;
  }
}

.btn_office {
  @media screen and (min-width: $tablet) {
    margin: 0;
  }
}

.my_cabinet {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 14px;
  }
}

.dropbtn_office {
  margin: 0;
  display: flex;
  align-items: center;
  font-family: $basic-font;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: $black-color;
  border: none;
  outline: none;
  background-color: $menu-color;
}

.dropdown_office:hover .dropdown-content_office,
.dropdown_office:hover .dropdown-content_office {
  display: block;
  margin-top: 23px;
  transform: translateY(0);
}